# Dependências
node_modules/

# Logs do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ambiente (caso venha a usar)
.env
.env.local

# Pasta de build (opcional - remova o comentário para ignorar)
# dist/
